<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheet.css">
    <style>
        body{
            font-family: "REM", sans-serif;
            font-weight: 900;
        background-color: rgb(255, 254, 254);
              }
    </style>
  </head>
  <body>
    <header><h1>Cointab Assigment</h1></header>
    <div class="main">
    <button id="fetch_button" >Fetch Users</button
    ><button id="delete_button">Delete users</button
    ><a href="./userdetails.html"><button id="users_details">User Details</button></a>
</div>
  </body>
</html>
<script src="./index.js"></script>
