<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>users Details</h1>
    <table>
        <thead>
            <tr>
                <th>SN</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="pagination"></div>
</body>
</html>
<script src="./userdetails.js"></script>