<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheet.css">
    <style>
        body {
            font-family: "REM", sans-serif;
            font-weight: 900;
            background-color: rgb(255, 254, 254);
        }

        
    </style>
</head>

<body>
    <h1>All Data</h1>
    <input type="text" placeholder="Enter Username">
    <button id="Search">search</button>
    <table>
        <thead>
            <tr>
                <th>SN</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="pagination"></div>
</body>

</html>
<script src="./userdetails.js"></script>